* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.inputting {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}

.input-side {
  width: 48.5%;
}

.showing-address {
  width: 48.5%;
}

.input-side form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

input,
textarea {
  text-indent: 10px;
  font-family: sans-serif;
  font-size: 15px;
  padding: 5px;
}

button {
  display: block;
  margin: 10px auto;
  background-color: white;
  border: none;
}
