* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.inputting {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.input-side {
  width: 48.5%;
  border: 2px solid blue;
}

.showing-address {
  width: 48.5%;
  border: 2px solid blue;
}

.input-side form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

input {
  text-indent: 10px;
  font-family: sans-serif;
  font-size: 15px;
  color: red;
}
