* {
  margin: 0px;
  padding: 0px;
}

.background-img {
  width: 100vw;
  position: fixed;
  top: 0px;
}

body {
  width: 100vw;
  height: 100vh;
  background-image: url('../img/baack2.png');
  background-repeat: no-repeat;
  overflow-x: hidden;
  display: fixed;
  top: 0px;
}
.container {
  position: relative;
  margin: 0px auto;
  width: 1000px;
  padding: 20px;
  background: white;
  z-index: 10;
}

h1 {
  font-family: 'Courier New', Courier, monospace;
  font-weight: 200;
  margin-top: 20px;
  font-style: normal;
  font-size: 50px;
  cursor: pointer;
}

.about {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}

.item {
  width: 20%;
  border-top: 1px solid black;
  margin-left: 1%;
  cursor: pointer;
}

.item a {
  color: black;
  text-decoration: none;
}

.active {
  box-shadow: inset 0px 4px black;
}

.item:hover {
  box-shadow: inset 0px 4px black;
}

p {
  margin-top: 10px;
}

.hr {
  width: 100%;
  height: 40px;
  border-top: 1px solid black;
  border-bottom: 4px solid black;
  margin-top: 40px;
}

iframe {
  height: 800px;
  width: 950px;
  border: 2px solid red;
}

.foot {
  margin-top: 60px;
  width: 100%;
  height: 30px;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.foot > img {
  margin-left: 3px;
}

.last-p {
  margin-bottom: 80px;
  font-family: 'Courier New', Courier, monospace;
}
