* {
  margin: 0px;
  padding: 0px;
}

::-webkit-scrollbar {
  width: 15px;
}

body {
  width: 100vw;
  height: 100vh;
  background-image: url('../img/baack2.png');
  background-repeat: no-repeat;
  overflow: scroll;
  display: fixed;
  top: 0px;
}

.wrapper {
  margin: 0px auto;
  position: fixed;
  top: 0px;
  right: 0px;
  width: 100vw;
  height: 100vh;
}

.wrapper img {
  position: absolute;
}
.wrapper img:nth-child(1) {
  top: 0mm;
  left: 0mm;
  z-index: 4;
}
.wrapper img:nth-child(2) {
  top: 0mm;
  right: -2.5mm;
  z-index: 3;
}
.wrapper img:nth-child(3) {
  bottom: 0mm;
  right: -3mm;
  z-index: 2;
}
.wrapper img:nth-child(4) {
  bottom: 0mm;
  left: -2mm;
  z-index: 1;
}

.container {
  position: relative;
  margin: 0px auto;
  width: 1000px;
  padding: 20px;
  background: white;
  z-index: 10;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 10;
  margin-top: 20px;
  font-style: normal;
  font-size: 40px;
  cursor: pointer;
}

.about {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}

.item {
  width: 20%;
  border-top: 1px solid black;
  margin-left: 1%;
  cursor: pointer;
}

.item a {
  color: black;
  text-decoration: none;
}

.active {
  box-shadow: inset 0px 4px black;
}

.item:hover {
  box-shadow: inset 0px 4px black;
}

p {
  margin-top: 10px;
}

.hr {
  width: 100%;
  height: 40px;
  border-top: 1px solid black;
  border-bottom: 4px solid black;
  margin-top: 40px;
}

iframe {
  height: 950px;
}

.foot {
  margin-top: 60px;
  width: 100%;
  height: 15px;
  border-bottom: 3px solid black;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.fa-brands {
  margin-left: 4px;
  cursor: pointer;
}
